h1 {color:white;text-align: center; }
p {color:white;text-align: center;}
#img {text-align: center;}
#title{
  color:white;
  font-style: oblique; 
  font-size: 22px;
   margin-left: 400px;
  
}
li{

  display:inline;
  
  list-style-type: circle;
}
#list{
  color:black;
  font-size: 18px;
  margin-left: 400px;
  
  background-color: #666666;
}
