h1 {color:white;text-align: center; }
p {color:white;text-align: center;}
#img {text-align: center;}
.showbox, . abgne-block{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}
#title{
  color:white;
  font-style: oblique; 
  font-size: 22px;
   margin-left: 250px;
  margin-top: 30px;
  
}

#list{
  color:white;
  font-size: 18px;
  text-align: center;

}
.showbox {
	width: 550px;
	height: 460px;
	border: 2px solid Yellow;
	text-align: center;
}
.abgne-block {
	margin-top: 10px;
	width: 680px;
	overflow: hidden;
}
.abgne-block a {
	margin-right: 10px;
}
.abgne-block a img {
	width: 140px;
	height: 92px;
	border: 2px solid #1dd;
	vertical-align: middle;
}
