h1 {color:white;text-align: center; }
p {color:white;text-align: center;}
#img {text-align: center;}
#title{
  color:white;
  font-style: oblique; 
  font-size: 22px;
   margin-left: 400px;
  
}

#list{
  color:white;
  font-size: 18px;
  margin-left: 400px;
  text-align: center;
}
