/* table *///
.css_table {
  display: table;
  //border-collapse: collapse;
  width: 100%
}

    /* tr */
.css_row{
  display: table-row; border:solid 1px red;
  height:auto;
}

 /* td , th */
.css_cell {
  display: table-cell;
   width: 90px;
   border-right: 1px dotted #fff;
   background:#fcd6d6;
  border:solid 1px;
}

.css_cell1 {
  display: table-cell;
   width: 80px;
   border-right: 1px dotted #fff;
   background:#fcd6d6;
  border:solid 1px;
}

.css_cell2 {
  display: table-cell;
   width: 180px;
   border-right: 1px dotted #fff;
   background:#fcd6d6;
  border:solid 1px;
}

.css_cell3 {
  display: table-cell;
   width: 500px;
   border-right: 1px dotted #fff;
   background:#fcd6d6;
  border:solid 1px;
}

#pro {
  display: inline;
  color: #33cc33;
  
}

.B h1 {
  display: inline;
  
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer; 
    border-radius: 12px;
}

.incell1{
  display: table-cell;
  width: 180px;
  border-right: 1px dotted #fff;
  background: gray;
  border:solid 1px;
  color:white;
  text-align:center;
}

.incellNE{
  display: table-cell;
  width: 180px;
  border-right: 1px dotted #fff;
  background:gray;
  border:solid 1px; 
}
