/* table *///
.css_table {
  display: table;
  //border-collapse: collapse;
  width: 100%
}

    /* tr */
.css_row{
  display: table-row; border:solid 1px red;
}

 /* td , th */
.css_cell {
  display: table-cell;
   width: 180px;
   border-right: 1px dotted #fff;
   background:#fcd6d6;
  border:solid 1px;
}

.css_cell1 {
  display: table-cell;
   width: 80px;
   border-right: 1px dotted #fff;
   background:#fcd6d6;
  border:solid 1px;
}

.cell3 {
  display: table-cell;
  width: 180px;
  padding-left: 10px;
  background:#effff0;
}
#pro {
  display: inline;
  color: #33cc33;
  
}

.B h1 {
  display: inline;
  
}
